.jumbotron-fluid {
    background:#976654;
    color:#fff;
}

header {
    padding:75px 0;
    margin-bottom:25px;
    text-align:center;
}

.trainSchedule {
    border:1px solid lightskyblue;
    margin-bottom:10px;
}

.card-header {
    background:lightskyblue;
    color:#fff;
}

.boldText {
    font-weight:bold;
}

.col-sm-2 {
    border-bottom: 1px solid slategray;
    padding: 10px 5px;
}